@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


* {
   font-size: 62.5%;
}
html body{
   margin:0;
   padding:0;
}

nav {
   background: whitesmoke;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

nav div {
   flex: 1 1 40em;
}

nav input {
   font-family: "Roboto", sans-serif;
   background-color: white;
   color: black;
   padding: 10px 20px 10px;
   text-align: center;
   font-size: 1.6rem;
   border-radius: .5rem;
   transition-duration: 0.4s;
   cursor: pointer;
}

nav input:hover {
   background-color: #0C5559;
   color: white;
}

nav span {
   font-weight: medium;
   font-size: 3rem;
   font-family: "Style Script", cursive;
   color: olive;
   padding: 0 10px 0;
}

nav input,
span {
   float: right;
}


section {
   width: 100%;
   background-color: whitesmoke;
}

section img {
   width: 100%;
}

.container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding-left: 16px;
}

.container div {
   flex: 1 1 190em;
}

h1 {
   font-family: "Open Sans Condensed", sans-serif;
   font-size: 4rem;
   font-weight: 100;
}


p {
   font-family: "Style Script", cursive;
   font-size: 2.6rem;
   text-align: left;
}

.newsletter .container{
   background-color:gray;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding:16px;
}

.newsletter div {
   flex: 1 1 180em;
}

.newsletter input:nth-child(1) {
   font-size: 1.3rem;
   width:50%;
   padding:5px;
   outline: 0;
}
.newsletter input:nth-child(2) {
   font-size: 1.2rem;
   background-color: #0C5559;
   width:30%;
   padding:5px;
   color:white;
   cursor: pointer;

}
.newsletter input:nth-child(2):hover {
   color:black;
   background-color: ghostwhite;
   transition-duration: 0.4s;
}

h2{
   font-family: "Open Sans Condensed", sans-serif;
   font-size: 3.2rem;
   font-weight: 400;
   color: white;
}
.items{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
}
.items div{
   flex:1 1 10em;
   padding:20px 80px 20px;
}

footer {
   width: 100%;
}


footer p{
   text-align: center;
}

.social-btns {
   height: 50px;
   margin: auto;
   font-size: 2rem;
   text-align: center;
}

.social-btns .btn {
   display: inline-block;
   background-color: #fff;
   width: 50px;
   height: 50px;
   line-height: 40px;
   margin: 0px 10px 50px;
   text-align: center;
   position: relative;
   overflow: hidden;
   border-radius: 28%;
   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
   opacity: 0.99;
}


.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
   transition: all 0.35s;
   transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
   top: 90%;
   left: -110%;
}

.social-btns .btn .fa {
   transform: scale(0.8);
}

.social-btns .btn.facebook:before {
   background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
   color: #3b5998;
}

.social-btns .btn.twitter:before {
   background-color: #3cf;
}

.social-btns .btn.twitter .fa {
   color: #3cf;
}

.social-btns .btn.instagram:before {
   background-color: #dc4a38;
}

.social-btns .btn.instagram .fa {
   color: #dc4a38;
}

.social-btns .btn.whatsapp:before {
   background-color: #f26798;
}

.social-btns .btn.whatsapp .fa {
   color: #f26798;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
   top: -10%;
   left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
   color: #fff;
   transform: scale(1);
}



.social-btns .btn:before {
   content: '';
   width: 120%;
   height: 120%;
   position: absolute;
   transform: rotate(45deg);
}

.social-btns .btn .fa {
   font-size: 3rem;
   vertical-align: middle;
}
.outer{
   width:100%;
   display: flex;
   justify-content: center;
}
.inner a{
   font-family: "Open Sans Condensed",sans-serif;
   font-size: 2.5rem;
   text-decoration: none;
   color: black;
   padding:0px 10px 0; 
}


